name: restore cache from ubunut to windows

on:
  workflow_dispatch:

permissions:
  contents: read # to fetch code (actions/checkout)
  actions: write # delete cache (actions/gh-actions-cache)

jobs:
  x86-dependencies:
    runs-on: windows-latest

    env:
      ARCH: x86
      CACHEDIR: downloads
      # MD5SUMS: |
      #   8867b0380daabd12ece3dbad73197e78  libsodium-1.0.19-stable-mingw.tar.gz
      #   113f036c91f06a9fdb11186e3dce7d93  libsodium-1.0.19-stable-msvc.zip
      #   25b07e2b5177a2f071f109f641f9e3e4  lua-5.4.2_Win32_dllw6_lib.zip
      #   132834e89206d893630410fa2192bd2a  lua-5.4.2_Win64_dllw6_lib.zip
      #   a0f941c53b8e509712eeca46104674c4  winpty-0.4.3-msvc2015.zip
      # Lua32
      LUA_RELEASE: 5.4.2
      LUA32_URL: https://downloads.sourceforge.net/luabinaries/lua-5.4.2_Win32_dllw6_lib.zip
      LUA32_FILE: lua-5.4.2_Win32_dllw6_lib.zip
      LUA64_URL: https://downloads.sourceforge.net/luabinaries/lua-5.4.2_Win64_dllw6_lib.zip
      LUA64_FILE: lua-5.4.2_Win64_dllw6_lib.zip
      # winpty
      WINPTY_URL: https://github.com/rprichard/winpty/releases/download/0.4.3/winpty-0.4.3-msvc2015.zip
      WINPTY_FILE: winpty-0.4.3-msvc2015.zip
      # libsodium
      SODIUM_VER: 1.0.19
      SODIUM_MSVC_URL: https://download.libsodium.org/libsodium/releases/libsodium-1.0.19-stable-msvc.zip
      SODIUM_MSVC_FILE: libsodium-1.0.19-stable-msvc.zip
      SODIUM_MINGW_URL: https://download.libsodium.org/libsodium/releases/libsodium-1.0.19-stable-mingw.tar.gz
      SODIUM_MINGW_FILE: libsodium-1.0.19-stable-mingw.tar.gz

    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}

      - name: setup downloads, urls.txt
        shell: cmd
        run: |
          type NUL > urls.txt
          echo %LUA_RELEASE%>> urls.txt
          echo %WINPTY_URL%>> urls.txt
          echo %SODIUM_VER%>> urls.txt

      - name: restore cache ${{ env.ARCH }}
        uses: actions/cache/restore@v4
        with:
          enableCrossOsArchive: true
          path: ${{ env.CACHEDIR }}
          key: Windows-${{ env.ARCH }}-${{ hashFiles('urls.txt') }}
          restore-keys: |
            Windows-${{ env.ARCH }}-
        env:
          GH_TOKEN: ${{ github.token }}

      - name: check cache.
        id: checkcache
        run: |
          dir ${{ env.CACHEDIR }}

      - name: delete cache from repo
        shell: bash {0}
        run: |
          set +e
          gh extension install actions/gh-actions-cache
          key=Windows-${{ env.ARCH }}-${{ hashFiles('urls.txt') }}
          #-- cacheid=$(
          #--   gh actions-cache list -R "${REPO}" |
          #--   grep $key
          #--   # grep $key |
          #--   # cut -f1
          #-- )
          # echo $cacheid
          # ^^^ wrong output. missing ID...
          gh actions-cache delete "$key" -R "${REPO}" --confirm
          # gh api --method DELETE -H "${H_ACC}" -H "${H_VER}" "repos/${REPO}/actions/caches/$cacheid"
        env:
          REPO: ${{ github.repository }}
          BRANCH: ${{ github.head_ref }}
          GH_TOKEN: ${{ github.token }}
          H_ACC: "Accept: application/vnd.github+json"
          H_VER: "X-GitHub-Api-Version: 2022-11-28"

      - name: save cache
        uses: actions/cache/save@v4
        with:
          enableCrossOsArchive: true
          path: ${{ env.CACHEDIR }}
          key: Windows-${{ env.ARCH }}-${{ hashFiles('urls.txt') }}
        env:
          GH_TOKEN: ${{ github.token }}

      - name: noop
        run: echo bye

