name: test_winfixbuf with python issue

on:
  push:
    branches: ['acme']
  workflow_dispatch:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  test_winfixbuf:
    runs-on: ubuntu-22.04
    env:
      CONFIG: "--disable-gui --with-features=normal"
    strategy:
      fail-fast: false
      matrix:
        py2: [no, yes, dynamic]
        py3: [no, yes, dynamic]

    steps:
      - name: begin
        run: echo 'test_winfixbuf.vim fails at [py2,py3] combination'

      - name: Checkout repository from github
        if: true
        uses: actions/checkout@v4
        with:
          # repository: vim/vim
          repository: ${{ github.repository_owner }}/vim
          # ref: v9.1.0152
          ref: af7ae8160041e2d17c56945381e9370e7178e596
          path: .

      - name: install python and python3
        if: true
        run: |
          PKGS=( \
            gettext \
            desktop-file-utils \
            libtool-bin \
            libncurses-dev \
            libxt-dev \
          )
          PKGS+=( \
            autoconf \
            gdb \
            lcov \
            libcanberra-dev \
            python2-dev \
            python3-dev \
            cscope \
            libsodium-dev \
            attr \
            libattr1-dev \
          )
          # sudo apt-get update && sudo apt-get upgrade && sudo apt-get install -y "${PKGS[@]}"
          sudo apt-get update && sudo apt-get install -y "${PKGS[@]}"
          python3 --version
          which python3
          python2 --version
          which python2
          echo '// check python command is python 2 or 3'
          ls -lagG $(which python)

      - name: configure, build, version check vim
        if: true
        run: |
          ./configure ${{ env.CONFIG }} --enable-pythoninterp=${{ matrix.py2 }} --enable-python3interp=${{ matrix.py3 }}
          make
          ./src/vim --version

      - name: run test_winfxbuf
        run: |
          cd ./src/testdir
          echo '// do test_winfixbuf with TEST_FILTER=python'
          LC_ALL=C VIMRUNTIME=../../runtime make test_winfixbuf.res TEST_FILTER=python
          echo '// cat messages. fail E319 or E386'
          cat messages

      - name: run patched test_winfxbuf
        shell: bash {0}
        run: |
          cd src
          make testclean
          cd testdir
          touch patch-test_winfixbuf
          cat <<'HEREDOC' | sed 's/^:\ //' > patch-test_winfixbuf
          : --- test_winfixbuf.vim_orig
          : +++ test_winfixbuf.vim
          : @@ -2507 +2507 @@
          : -  python << EOF
          : +  pythonx << EOF
          : @@ -2516,2 +2516,2 @@
          : -    pydo test_winfixbuf_Test_python_pydo_set_buffer()
          : -  catch /Vim(pydo):vim.error: Vim:E1513: Cannot edit buffer. 'winfixbuf' is enabled/
          : +    pyxdo test_winfixbuf_Test_python_pydo_set_buffer()
          : +  catch /Vim(pyxdo):vim.error: Vim:E1513: Cannot edit buffer. 'winfixbuf' is enabled/
          : @@ -2547,2 +2547,2 @@
          : -    pyfile file.py
          : -  catch /Vim(pyfile):vim.error: Vim:E1513: Cannot edit buffer. 'winfixbuf' is enabled/
          : +    pyxfile file.py
          : +  catch /Vim(pyxfile):vim.error: Vim:E1513: Cannot edit buffer. 'winfixbuf' is enabled/
          : @@ -2575 +2575 @@
          : -    python << EOF
          : +    pythonx << EOF
          : @@ -2581 +2581 @@
          : -  catch /Vim(python):vim\.error: Vim:E1513: Cannot edit buffer. 'winfixbuf' is enabled/
          : +  catch /Vim(pythonx):vim\.error: Vim:E1513: Cannot edit buffer. 'winfixbuf' is enabled/
          HEREDOC
          patch test_winfixbuf.vim --input ./patch-test_winfixbuf
          echo '// do test_winfixbuf with TEST_FILTER=python'
          LC_ALL=C VIMRUNTIME=../../runtime make test_winfixbuf.res TEST_FILTER=python
          echo '// cat messages. expect all filterd 3 test success'
          cat messages

      - name: close
        if: false
        run: |
          echo '--- some test may fail,'

  summary:
    runs-on: ubuntu-22.04
    needs: test_winfixbuf
    steps:
      - name: show summary
        shell: bash {0}
        run: |
          cat <<'HEREDOC' | sed 's/^:\ //'
          : /**
          :  * original test result
          :  */
          : [py2][py3] . T_pydo  . T_pyfile  . T_vim_current_buf
          : ---
          :  no   no   . (pythx) . (pythx)   . (pythx)
          :  no   yes  .  E319   .  E319     .  E319
          :  no   dyn  .  E319   .  E319     .  E319
          :  yes  no   .  ~pass~ .  ~pass~   .  ~pass~
          :  yes  yes  .  E836   . (pythx)   . (pythx)
          :  yes  dyn  .  E836   . (pythx)   . (pythx)
          :  dyn  no   .  ~pass~ .  ~pass~   .  ~pass~
          :  dyn  yes  .  E836   . (pythx)   . (pythx)
          :  dyn  dyn  .  E836   . (pythx)   . (pythx)
          : ---
          : E319: +py3 only build cannot do py2ish command (:pyfile, :pydo, ..)
          : E836: CheckFeature load py3 first, so py2ish command disabled.
          : (pythx): after E386, it seems has('pythonx') not work
          :
          : patched test result is 8 of 9 matirx pass 3 Test_python_*.
          HEREDOC

