name: test_winfixbuf with python issue

on:
  push:
    branches: ['acme']
  workflow_dispatch:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  test_winfixbuf:
    runs-on: ubuntu-22.04

    env:
      CONFIG: "--disable-gui --with-features=normal "

    strategy:
      fail-fast: false
      matrix:
        pyx:
          # {py2:no,  py3:yes}
          # {py2:no,  py3:yes}
          # {py2:no,  py3:dynamic}
          # {py2:yes, py3:no}
          # {py2:yes, py3:yes}
          # {py2:yes, py3:dynamic}
          - {py2:dynamic, py3:no}
          # {py2:dynamic, py3:yes}
          - {py2:dynamic, py3:dynamic}

    steps:
      - name: begin
        run: echo '--- v9.1.0152. +python +python3.'

      - name: Checkout repository from github
        if: true
        uses: actions/checkout@v4
        with:
          # repository: vim/vim
          repository: svardew/vim
          # ref: v9.1.0152
          ref: af7ae8160041e2d17c56945381e9370e7178e596
          path: .

      - name: install python and python3
        shell: bash {0}
        run: |
          PKGS=( \
            gettext \
            desktop-file-utils \
            libtool-bin \
            libncurses-dev \
            libxt-dev \
          )
          PKGS+=( \
            autoconf \
            gdb \
            lcov \
            libcanberra-dev \
            python2-dev \
            python3-dev \
            cscope \
            libsodium-dev \
            attr \
            libattr1-dev \
          )
          PKGS+=( \
            locate \
          )
          # sudo apt-get update && sudo apt-get upgrade && sudo apt-get install -y "${PKGS[@]}"
          sudo apt-get update && sudo apt-get install -y "${PKGS[@]}"
          # libpython2.so may not exist. search latest version 2.7
          # locate return 1 if not found. set shell without -e option (shell: bash {0})
          python3 --version
          which python3
          # locate libpython3.so
          python2 --version
          which python2
          # locate libpython2.7.so
          echo 'check python command is python 2 or 3?'
          ls -lagG $(which python)

      - name: configure, build, version check vim
        if: true
        run: |
          ./configure ${{ env.CONFIG }} --enable-pythoninterp=${{ matrix.pythons.py2 }} --enable-python3interp=${{ matrix.pythons.py3 }}
          make
          ./src/vim --version

      - name: run test_winfxbuf
        run: |
          cd ./src/testdir
          echo 'runtest test_winfixbuf with TEST_FILTER=python'
          LC_ALL=C VIMRUNTIME=../../runtime make test_winfixbuf.res TEST_FILTER=python
          echo '// cat messages. CheckFeature affect py2 relate command.'
          cat messages

      - name: close
        if: true
        run: |
          echo '--- some test may fail, due to CheckFeature disable python.'
