name: ruby-3.3.0-rc1 issue

on: workflow_dispatch

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  linux:
    runs-on: ubuntu-22.04

    env:
      # ref: v9.0.2138
      REF: fda700cb04612fe2f9301a9ba820309175decabf
      CONFIG: "--disable-gui --disable-libsodium --with-features=normal"

    strategy:
      fail-fast: false
      matrix:
        interp: [yes, dynamic]
        patch: [nopatch, patched]

    steps:
      - name: Checkout vim
        uses: actions/checkout@v4
        with:
          repository: svardew/vim
          # ref: v9.0.2138
          ref: ${{ env.REF }}
          path: ./vim

      - name: Install ruby-3.3.0-rc1
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.3.0-rc1

      - name: Set ruby-3.3 environment values
        id: rb33env
        if: true
        run: |
          which ruby
          ruby -v
          rb33libdir=$(ruby -rrbconfig -e 'print RbConfig::CONFIG["libdir"]')
          rb33pkgconfigdir=${rb33libdir}'/pkgconfig'
          echo "rb33_ldlibrarypath=${rb33libdir}" >> $GITHUB_OUTPUT
          echo "rb33_pkgconfigpath=${rb33pkgconfigdir}" >> $GITHUB_OUTPUT

      - name: Prepare patches
        if: true
        shell: bash {0}
        run: |
          echo '/* File: patch-if_ruby'
          echo ' * ruby-3.3 remove transient_heap.'
          echo ' * this patch disable rb_ary_detransient, etc.'
          echo ' */'
          touch patch-if_ruby
          cat <<'HERE_DOCU_MENT' | sed 's/^:\ //' > patch-if_ruby
          : --- ./if_ruby.c.orig
          : +++ ./if_ruby.c.mod
          : @@ -86 +86 @@
          : -# if RUBY_VERSION >= 26
          : +# if RUBY_VERSION >= 26 && RUBY_VERSION <= 32
          : @@ -459 +459 @@
          : -# if RUBY_VERSION >= 26
          : +# if RUBY_VERSION >= 26 && RUBY_VERSION <= 32
          : @@ -494 +494 @@
          : -# if RUBY_VERSION >= 26
          : +# if RUBY_VERSION >= 26 && RUBY_VERSION <= 32
          : @@ -564 +564 @@
          : -#  if RUBY_VERSION >= 26
          : +#  if RUBY_VERSION >= 26 && RUBY_VERSION <= 32
          : @@ -721 +721 @@
          : -# if RUBY_VERSION >= 26
          : +# if RUBY_VERSION >= 26 && RUBY_VERSION <= 32
          HERE_DOCU_MENT
          echo '/* File: patch-test_ruby'
          echo ' * ruby-3.3 change NoMethodError format.'
          echo ' * this patch loose pattern in Test_ruby_Vim_buffer_get()'
          echo ' */'
          touch patch-test_ruby
          cp ./vim/src/testdir/test_ruby.vim ./test_ruby.vim.orig
          cp ./vim/src/testdir/test_ruby.vim ./test_ruby.vim.mod
          sed -i '/NoMethodError/ s,nil:NilClass,nil, ;' ./test_ruby.vim.mod
          diff -U 0 ./test_ruby.vim.orig ./test_ruby.vim.mod > patch-test_ruby
          rm ./test_ruby.vim.*

      - name: Prepare tests for ruby-3.3
        if: true
        shell: bash {0}
        run: |
          touch test_yy_nomethoderror_current.vim
          cat <<'HERE_DOCUMENT_VIMTEST' | sed 's/^:\ //' > test_yy_nomethoderror_current.vim
          : 
          : func Test_ruby_nomethoderror_format_current()
          :   call assert_fails('ruby print nil.hjkl',
          :         \           "NoMethodError: undefined method `hjkl' for nil:NilClass",
          :         \           "this assert fails for [nopatch,+ruby][nopatch,+ruby/dyn]")
          : endfunc
          : 
          HERE_DOCUMENT_VIMTEST
          touch test_yy_nomethoderror_loose.vim
          cat <<'HERE_DOCUMENT_VIMTEST' | sed 's/^:\ //' > test_yy_nomethoderror_loose.vim
          : 
          : func Test_ruby_nomethoderror_format_ruby33_loose()
          :   call assert_fails('ruby print nil.hjkl',
          :         \           "NoMethodError: undefined method `hjkl' for nil",
          :         \           "this assert fails for [nopatch,+ruby/dyn]")
          : endfunc
          : 
          HERE_DOCUMENT_VIMTEST
          touch test_yy_rb_ary_detransient_missing.vim
          cat <<'HERE_DOCUMENT_VIMTEST' | sed 's/^:\ //' > test_yy_rb_ary_detransient_missing.vim
          : 
          : func Test_ruby_rb_ary_detransient_missing()
          :   try
          :     ruby puts RUBY_VERSION
          :   catch
          :     call assert_exception("E448: Could not load library function rb_ary_detransient",
          :               \           "expect E448 only for [nopatch,+ruby/dyn]")
          :   endtry
          : endfunc
          : 
          HERE_DOCUMENT_VIMTEST

      - name: matrix configure, build
        id: build
        if: true
        run: |
          export PKG_CONFIG_PATH=${{ steps.rb33env.outputs.rb33_pkgconfigpath }}
          export LD_LIBRARY_PATH=${{ steps.rb33env.outputs.rb33_ldlibrarypath }}
          builddir=vim-${{ matrix.interp }}-${{ matrix.patch }}
          mkdir $builddir
          cd $builddir
          cp -R ../vim/* ./
          if ${{ matrix.patch == 'patched' }}; then
            patch src/if_ruby.c --input ../patch-if_ruby
          fi
          ./configure ${{ env.CONFIG }} --enable-rubyinterp=${{ matrix.interp }}
          make
          ./src/vim --version
          echo "builddir=${builddir}" >> $GITHUB_OUTPUT

      - name: matrix test
        if: true
        run: |
          if ${{ matrix.interp == 'dynamic' }}; then
            export LD_LIBRARY_PATH=${{ steps.rb33env.outputs.rb33_ldlibrarypath }}
          fi
          cd ${{ steps.build.outputs.builddir }}
          cp ../test_yy_*.vim ./src/testdir
          cd ./src/testdir
          make test_yy_nomethoderror_current.res
          make test_yy_nomethoderror_loose.res
          make test_yy_rb_ary_detransient_missing.res
          echo '/* test_*.res exist?'
          echo ' */'
          ls -1 | grep -c -E 'test_.*.res$'
          echo '/* cat messages'
          echo ' */'
          cat messages

      - name: test summary
        if: steps.test.outcome == 'success'
        run: |
          echo '### matrix test result ...'
          for d in vim-*
          do
            echo '===' $d '==='
            cat ${d}/src/testdir/messages
          done

      - name: close
        if: false
        run: |
          ls . -lahpgG

  noop_job:
    runs-on: ubuntu-latest
    steps:
      - name: noop
        if: false
        run: /bin/false

# vim: set tw=2 autoindent:
