name: ruby 3.3 transient_heap and NoMethoError format

on:
  push:
    branches: ['acme']
  workflow_dispatch:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  testruby:
    runs-on: ubuntu-22.04

    steps:
      - name: begin
        run: |
          echo '--- start [testruby] job. hello >>>' $PWD
          echo '/// in acion.yml, bash-heredoc not use.'
          echo '/// multi time echo is need'
          ls . -1

      - name: Checkout repository from github
        if: true
        uses: actions/checkout@v4
        with:
          repository: svardew/vim
          # ref: v9.0.2138
          ref: fda700cb04612fe2f9301a9ba820309175decabf
          path: ./vim

      - name: setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.3.0-rc1

      - name: rb33env
        if: true
        run: |
          echo 'list current dir after actions/checkout'
          ls -1 -p
          echo '// which ruby and ruby version'
          which ruby
          ruby -v
          echo '// locate libruby.so.3.3'
          find /opt -name 'libruby.so*'
          echo '// locate pkgconfig *.pc file'
          ruby -rrbconfig -e 'puts Dir.glob(RbConfig::CONFIG["libdir"]+"/**/ruby*.pc")'
          echo '// set ld_library_path and pkg_config_path to GITHUB_ENV'
          str = $(ruby -rrbconfig -e 'puts Dir.glob(RbConfig::CONFIG["libdir"]+"/**/ruby*.pc")[0]')
          echo "rb33_pkgconfigpath=${str}" >> "$GITHUB_ENV"
          str = $(ruby -rrbconfig -e 'puts RbConfig::CONFIG["libdir"]')
          echo "rb33_ldlibrarypath=${str}" >> "$GITHUB_ENV"

      - name: close
        if: true
        run: |
          echo "$rb33_pkgconfigpath"
          echo "$rb33_ldlibrarypath"
          echo '--- close [testruby] job. <<<' $PWD

# vim: tw=2 :
