name: Manage cache with caller/called workflow cooperation

on:
  push:
    branches: ['**']
  # workflow_dispatch:

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for
  # pull requests or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read # to fetch code (actions/checkout)

env:
  call-sync-ver: 1

jobs:
  restore-cache:
    runs-on: ubuntu-22.04
    permissions:
      actions: write
      contents: write
    steps:
      - name: keyfile, cachedir
        run: |
          # hashFiles('keyfile') for cachekey
          touch keyfile
          echo 1234 >> keyfile
          echo https://example.com/pool/a/as/asdf/asdfqwert.zip >> keyfile
          echo 6789 >> keyfile
          sed -i 's/$/\r/g' keyfile
          cat keyfile
          file keyfile
          # cache 3 dummy files
          test -d stored_cache || mkdir stored_cache
          echo 1234 >> stored_cache/line1
          echo 'https://example.com/pool/a/as/asdf/asdfqwert.zip' >> stored_cache/line2
          echo 6789 >> stored_cache/line3
          test -d repocache || mkdir repocache
      - name: restore cache
        uses: actions/cache/restore@v4
        with:
          key: Kash-${{ hashFiles('keyfile') }}
          path: repocache
      - name: check repocache
        run: |
          echo '--- files in repocache ---'
          ls -1 repocache
          echo '--- files in stored_cache ---'
          ls -lhgG stored_cache
          echo '-- sync stored_cache -> repocache ---'
          cp -vn stored_cache/* ./repocache/
          echo '--- files in repocache, next-step actions/cache/save ---'
          ls -1 repocache
      - name: save repocache
        uses: actions/cache/save@v4
        with:
          key: Kash-${{ hashFiles('keyfile') }}
          path: repocache

  call-update-cache:
    needs: [restore-cache]
    # commit 26a176e694c88c014cec03c14f70915c26e3dedb
    # uses: ./.github/workflows/j0409sub.yml@26a176e694c88c014cec03c14f70915c26e3dedb
    # ^^^ [./.github/workflows/FILENAME] allowed only [caller/called] at same commit
    # uses: svardew/dew/.github/workflows/j0409sub.yml@26a176e694c88c014cec03c14f70915c26e3dedb
    # ^^^ OWNER/REPO/.gi_/wor_/FILENAME@REF is better
    uses: ./.github/workflows/j0409sub.yml
    # ^^^ this simple style needs same commit in caller, so caller/called increments env.syncver
    # runs-on: ubuntu-22.04
    # steps:
    #   - name: echo ver
    #     run: uname -a
    secrets: inherit
    # ^^^ pass sercerts to called workflow

  use-cache:
    needs: [call-update-cache]
    runs-on: ubuntu-22.04
    steps:
     - name: echo now
       run: env


