name: Cache win deps /1

on:
  push:
    branches: ['void']
  workflow_dispatch:

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name for
  # pull requests or the commit hash for any other events.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  windows-cache:
    runs-on: ubuntu-22.04
    permissions:
      actions: write # Write cache. docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
      contents: write # to fetch code (actions/checkout)
    env:
      # Lua
      LUA_VER: 54
      LUA_VER_DOT: '5.4'
      LUA_RELEASE: 5.4.2
      LUA_DL_URL: https://downloads.sourceforge.net/luabinaries
      # winpty
      WINPTY_FILE: winpty-0.4.3-msvc2015.zip
      WINPTY_VER: 0.4.3
      WINPTY_DL_URL: https://github.com/rprichard/winpty/releases/download
      # libsodium
      SODIUM_VER: '1.0.19'
      SODIUM_DL_URL: https://download.libsodium.org/libsodium/releases
      SODIUM_MSVC_VER: v143
      SODIUM_MINGW_VER: 26
      # repository
      GH_TOKEN: ${{ github.token }}
      REPO: ${{ github.repository }}

    steps:
      - name: set env
        run: |
          echo "WINPTY_FILE=winpty-0.4.3-msvc2015.zip" >> $GITHUB_ENV
          echo "WINPTY_URL=${{ env.WINPTY_DL_URL }}/${{ env.WINPTY_VER }}/${{ env.WINPTY_FILE }}" >> $GITHUB_ENV
          echo "LUA32_FILE=lua-${{ env.LUA_RELEASE }}_Win32_dllw6_lib.zip" >> $GITHUB_ENV
          echo "LUA64_FILE=lua-${{ env.LUA_RELEASE }}_Win64_dllw6_lib.zip" >> $GITHUB_ENV
          echo "LUA32_URL=${{ env.LUA_DL_URL }}/${{ env.LUA32_FILE }}" >> $GITHUB_ENV
          echo "LUA64_URL=${{ env.LUA_DL_URL }}/${{ env.LUA64_FILE }}" >> $GITHUB_ENV
          sodium_msvc=libsodium-${{ env.SODIUM_VER }}-stable-msvc.zip
          echo "SODIUM_MSVC_FILE=libsodium-${{ env.SODIUM_VER }}-stable-msvc.zip" >> $GITHUB_ENV
          echo "SODIUM_MSVC_URL=${{ env.SODIUM_DL_URL }}/${sodium_msvc}" >> $GITHUB_ENV
          sodium_mingw=libsodium-${{ env.SODIUM_VER }}-stable-mingw.zip
          echo "SODIUM_MINGW_FILE=libsodium-${{ env.SODIUM_VER }}-stable-mingw.zip" >> $GITHUB_ENV
          echo "SODIUM_MINGW_URL=${{ env.SODIUM_DL_URL }}/${sodium_mingw}" >> $GITHUB_ENV

      - name: urls.txt file, cache dirs, gh-action-cache command
        run: |
          touch urls.txt
          echo ${{ env.LUA_RELEASE }} >> urls.txt
          echo ${{ env.WINPTY_URL }} >> urls.txt
          echo ${{ env.SODIUM_VER }} >> urls.txt
          # For Windows, convert LF to CRLF (sed), and check (file)'
          sed -i 's/$/\r/g' urls.txt
          file urls.txt
          mkdir cache-x64
          mkdir cache-x86
          # gh-actions-cache for delete Repository Cache via API
          # set env.GH_TOKEN
          gh extension install actions/gh-actions-cache

      - name: restore cache (x86)
        uses: actions/cache/restore@v4
        with:
          key: Windows-x86-${{ hashFiles('urls.txt') }}
          path: cache-x86

      - name: restore cache (x64)
        uses: actions/cache/restore@v4
        with:
          key: Windows-x64-${{ hashFiles('urls.txt') }}
          path: cache-x64

      - name: download (x86)
        shell: bash {0}
        run: |
          dltwice () {
            # dltwice <fname> <url>
            if [ ! -f $1 ]; then wget -O $1 $2 ;fi
            if [ ! -f $1 ]; then wget -O $1 $2 ;fi
          }
          cd cache-x86
          md5sum * | sort > ../MD5SUMS_x86_a
          dltwice lua.zip ${{ env.LUA32_URL }}
          dltwice ${{ env.WINPTY_FILE }} ${{ env.WINPTY_URL }}
          dltwice libsodium.zip ${{ env.SODIUM_MSVC_URL }}
          dltwice libsodium.tar.gz ${{ env.SODIUM_MINGW_URL }}
          md5sum * | sort > ../MD5SUMS_x86_b

      - name: download (x64)
        shell: bash {0}
        run: |
          dltwice () {
            # dltwice <fname> <url>
            if [ ! -f $1 ]; then wget -O $1 $2 ;fi
            if [ ! -f $1 ]; then wget -O $1 $2 ;fi
          }
          cd cache-x64
          md5sum * | sort > ../MD5SUMS_x64_a
          dltwice lua.zip ${{ env.LUA64_URL }}
          dltwice ${{ env.WINPTY_FILE }} ${{ env.WINPTY_URL }}
          dltwice libsodium.zip ${{ env.SODIUM_MSVC_URL }}
          dltwice libsodium.tar.gz ${{ env.SODIUM_MINGW_URL }}
          md5sum * | sort > ../MD5SUMS_x64_b

      - name: keep cache (x86)
        if: ${{ hashFiles('MD5SUMS_x86_a') == hashFiles('MD5SUMS_x86_b') }}
        run: echo 'Repository cache for Windwos-x86 is up to date.'

      - name: delete cache (x86)
        if: ${{ hashFiles('MD5SUMS_x86_a') != hashFiles('MD5SUMS_x86_b') }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
        shell: bash {0}
        run: |
          xcache=Windows-x86-${{ hashFiles('urls.txt') }}
          xcacheid=$(gh actions-cache list -R ${{ env.REPO }} |
            grep -F $xcache |
            cut -f1
          )
          if [ -n "$xcacheid" ]; then
            gh actions-cache delete $xcache -R ${{ env.REPO }} --confirm
          fi

      - name: save cache (x86)
        if: ${{ hashFiles('MD5SUMS_x86_a') != hashFiles('MD5SUMS_x86_b') }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
        uses: actions/cache/save@v4
        with:
          path: cache-x86
          key: Windows-x86-${{ hashFiles('urls.txt') }}

      - name: keep cache (x64)
        if: ${{ hashFiles('MD5SUMS_x86_a') == hashFiles('MD5SUMS_x86_b') }}
        run: echo 'Repository cache for Windwos-x64 is up to date.'

      - name: delete cache (x64)
        if: ${{ hashFiles('MD5SUMS_x64_a') != hashFiles('MD5SUMS_x64_b') }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
        shell: bash {0}
        run: |
          xcache=Windows-x64-${{ hashFiles('urls.txt') }}
          xcacheid=$(gh actions-cache list -R ${{ env.REPO }} |
            grep -F $xcache |
            cut -f1
          )
          if [ -n "$xcacheid" ]; then
            gh actions-cache delete $xcache -R ${{ env.REPO }} --confirm
          fi

      - name: save cache (x64)
        if: ${{ hashFiles('MD5SUMS_x64_a') != hashFiles('MD5SUMS_x64_b') }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
        uses: actions/cache/save@v4
        with:
          path: cache-x64
          key: Windows-x64-${{ hashFiles('urls.txt') }}

      - name: report cache
        shell: bash {0}
        run: |
          echo '--- current windows dependencies cache ---'
          gh actions-cache list -R ${{ env.REPO }} | grep -F Windows-x
          echo '--- windows-x64 cache files ---'
          cat MD5SUMS_x64_b
          echo '--- windows-x86 cache files ---'
          cat MD5SUMS_x86_b
